/* Basic styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    background-image: url(Iter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent (255, 255, 255, 0.8); /* Adjust the opacity as needed */
  }
  
  .logo img {
    height: 50px;
    width: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .vr-tour {
    padding: 15px 28px;
    background-color:transparent;
  }
  
  .vr-tour a {
    color: #fff;
    text-decoration: bold italic ;
    transition: background-color 0.3s ease;
  }
  
  .vr-tour a:hover {
    background-color: #121102; /* Update with your desired hover color */
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    color: #333;
  }
  
  /* Responsive layout */
 @media screen and (max-width: 768px) {
    .container{
        background-size: auto 100vh;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
      background-size: auto;
      min-height: 100vh;
    }
  }
  
  @media screen and (min-width: 1025px) {
    .container {
      background-size: auto;
    }
  }
  @media screen and (max-width: 768px) {  
  .logo img {
      height: 40px;
      width: 40px;
    }
    
    .vr-tour {
      padding: 8px 16px;
    }
    
    .vr-tour a {
      font-size: 14px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {  
    .logo img {
        height: 40px;
        width: 40px;
      }
      
      .vr-tour {
        padding: 8px 16px;
      }
      
      .vr-tour a {
        font-size: 14px;
      }
  }
  @media screen and (min-width: 1025px) 
  {  
    .logo img {
        height: 40px;
        width: 40px;
      }
      
      .vr-tour {
        padding: 8px 16px;
      }
      
      .vr-tour a {
        font-size: 14px;
      }
  }
  
  
